<!--Acerca de-->
<div class="card mat-card" id="acerca">
    
      <!-- imagen profile -->
      <div class="col-md-3" id="profile-self">
        <a>
         <img class="profile-image" *ngIf="miPortfolio" [src]="miPortfolio.profileImage"/>
         <button type="button" class="btn btn-info btn-circle" id="profile-img"><i class="fa fa-pen"></i>
         </button>
         <h3>{{miPortfolio&&miPortfolio.name}}</h3>
         <p>{{miPortfolio&&miPortfolio.titulo}}</p>
         <button type="button" class="btn btn-info btn-circle" id="profile-info"><i class="fa fa-pen"></i>
         </button>     
        </a>
      </div>
       
         <div class="col-md-9" id="profile-info">
          <h1>Acerca de</h1>
          <p>{{miPortfolio&&miPortfolio.acercaInfo}}</p>
          <button type="button" class="btn btn-info btn-circle" id="acerca"><i class="fa fa-pen"></i>
          </button>
         </div>        

</div>

