<!--Acerca de-->
<div class="card mat-card" id="acerca" >
    
      <div class="col-md-4" id="profile-self" data-aos="zoom-out-up"  data-aos-anchor="#profile-info" data-aos-duration="500">
        <a>
         <img class="profile-image"  *ngIf="miPortfolio" src="{{miPortfolio.image_perfil}}"/>
         <button type="button" class="btn btn-info btn-circle" id="profile-img" *ngIf="authService.isLoggedIn" (click)="openModalImgPerfil()"><i class="fa fa-pen"></i>
         </button>
         <h3>{{miPortfolio&&miPortfolio.nombres+" "+miPortfolio.apellido}}</h3>
         <p>{{miPortfolio&&miPortfolio.ocupacion}}</p>
         <button type="button" class="btn btn-info btn-circle" id="profile-info" *ngIf="authService.isLoggedIn" (click)="openModalPerfil()"><i class="fa fa-pen"></i>
         </button>     
        </a>
      </div>
       
         <div class="col-md-8" id="profile-info" data-aos="zoom-out-up"  data-aos-anchor="#profile-info" data-aos-duration="500">
          
          <h1>Sobre mi</h1>
          <p></p>
          <p align="justify">{{miPortfolio&&miPortfolio.sobre_mi}}</p>
          <button type="button" class="btn btn-info btn-circle" id="acerca-edit" *ngIf="authService.isLoggedIn" (click)="openModalSobreMi()" ><i class="fa fa-pen"></i>
          </button>
         </div>          

</div>

