<!-- Habilidades -->
<div class="card mat-card" id="habilidades">
    <div class="card-titles">
      <h1 style="margin-left: 20px;">Habilidades</h1>
    </div>
    <!-- Fondo azul skills -->
    <div id="background-skills">
      <!-- Contenedor habilidades programacion -->
      <div class="cont-skill">
        <h2>Programación</h2>
              <div class="skill-box">
                <span class="title">HTML</span>
                <div class="skill-bar">
                    <span class="skill-per html">
                        <span class="tooltipo">90%</span>
                    </span>
                </div>
              </div>

              <div class="skill-box">
                <span class="title">CSS</span>
                <div class="skill-bar">
                    <span class="skill-per css">
                        <span class="tooltipo">70%</span>
                    </span>
                </div>
              </div>
              
              <div class="skill-box">
                <span class="title">JavaScript</span>
                <div class="skill-bar">
                    <span class="skill-per javascript">
                        <span class="tooltipo">50%</span>
                    </span>
                </div>
              </div>

              <div class="skill-box">
                <span class="title">NodeJS</span>
                <div class="skill-bar">
                    <span class="skill-per nodejs">
                        <span class="tooltipo">30%</span>
                    </span>
                </div>
              </div>
        </div>
        <!-- Contenedor habilidades idiomas -->
        <div class="cont-skill">
          <h2>Idiomas</h2>
                <div class="skill-box">
                  <span class="title">Inglés</span>
                  <div class="skill-bar">
                      <span class="skill-per ingles">
                          <span class="tooltipo">48%</span>
                      </span>
                  </div>
                </div>
          </div>        
        
      </div><!-- fin background azul-->
</div>

