<div class="modal-header">
    <h2 class="modal-title">{{ fromParentTitle }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-floating" style="padding-bottom: 15px;">
        <input type="text" id="perfil" class="form-control" [(ngModel)]="fromParentPersona.nombres"/>
        <label for="floatingTextarea">Nombres </label>
      </div>
      <div class="form-floating" style="padding-bottom: 15px;">
        <input type="text" id="perfil" class="form-control" [(ngModel)]="fromParentPersona.apellido"/>
        <label for="floatingTextarea">Apellido </label>
      </div>
      <div class="form-floating">
        <input type="text" id="perfil" class="form-control" [(ngModel)]="fromParentPersona.ocupacion"/>
        <label for="floatingTextarea">Ocupación </label>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" type="submit" class="btn custom-btn" (click)="actualizar()">Guardar Cambios</button>
  </div>
