.modal-header {
  color: #fffbfc;
  background-color:#0A192F;
  border-color: #0A192F;
  border-radius: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
}
.modal-body {
  color: #F2B53A;
  background-color:#0A192F;
}
.modal-footer {
  color: #F2B53A;
  background-color:#0A192F;
  border-color: #0A192F;
  border-radius: 0px;
  justify-content: center;
}
.close{
  background-color: #0A192F;
  border-color: #0A192F;
  color: #fffbfc;
  font-size: 25px;
  border:0px solid #fff;
  outline:none;
  padding-bottom: 20px;
}
.btn{
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 18px;
}
.custom-btn{
  font-size: 18px;
  margin-bottom: 15px;
  background: #F2B53A;
  color: #fff;
}
.custom-btn:hover{
  background-color: #CCD6F6;
  color: #112240
}
input#perfil {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  color: #CCD6F6;
  background-color: #112240;
  border-color: #112240;
}
  