.modal-header {
  color: #fffbfc;
  background-color:#091C1B;
  border-color: #091C1B;
  border-radius: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
}
.modal-body {
  color: #08C1B8;
  background-color:#091C1B;
}
.modal-footer {
  color: #08C1B8;
  background-color:#091C1B;
  border-color: #091C1B;
  border-radius: 0px;
  justify-content: center;
}
.close{
  background-color: #091C1B;
  border-color: #091C1B;
  color: #fffbfc;
  font-size: 25px;
  border:0px solid #fff;
  outline:none;
  padding-bottom: 20px;
}
.btn{
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 18px;
}
.custom-btn{
  margin-bottom: 15px;
  background: #08C1B8;
  color: #fff;
}
.custom-btn:hover{
  background-color: #FFFFFF;
  color: #19231D
}
input#perfil {
  color: #FFFFFF;
  background-color: #243534;
  border-color: #243534;
}
  