<!-- Educacion -->
<div class="card mat-card" id="educacion">
  <div id="education">
     <div class="card-titles">
       <h1><i class="fa-solid fa-graduation-cap"></i>  EDUCACION</h1>
       <button type="button" class="btn btn-info btn-circle" id="experiencia-add" *ngIf="authService.isLoggedIn" (click)="openModalEducacionAdd()" ><i class="fa fa-pen"></i>
       </button>
     </div>
     
       <ul class="items-list" data-aos="zoom-in-down"
       data-aos-anchor="#educacion"
       data-aos-offset="200"
       data-aos-duration="500">
        <li *ngFor="let educacion of educacionList">
          <button type="button" class="btn btn-info btn-circle" id="experiencia-edit" *ngIf="authService.isLoggedIn" (click)="openModalEducacion(educacion.id)"><i class="fa fa-pen"></i>
          </button>
          <button type="button" class="btn btn-info btn-circle" id="experiencia-trash" *ngIf="authService.isLoggedIn" (click)="borrarEducacion(educacion.id)" ><i class="fa fa-trash"></i>
          </button>
          <div id="imagen">
          <img [src]="educacion.image_educacion" width="170" height="200" />
          </div>
          <div id="contenido">
          <h2>{{educacion.titulo_educacion}}</h2>
          <p>{{educacion.info_educacion}}</p>
          <p></p>
          <p>Desde: {{educacion.desde_educacion}}</p>
          <p>Hasta: {{educacion.hasta_educacion}}</p>
          </div>
        </li>
      </ul>
     
  </div>
</div>     

