<!-- Educacion -->   
<div class="card mat-card" id="educacion">
    <div id="education">
       <div class="card-titles">
         <h1 style="margin-left: 20px;">Educación</h1>
       </div>
       <div id="list-education">
         <ul class="items-list">
          <li *ngFor="let educacion of educacionList">
            <div class="btn-edit" id="educacion">
              <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
             </div>
            <img [src]="educacion.img" />
            <h2>{{educacion.name}}</h2>
            <p>{{educacion.info}}</p>
          </li>
        </ul>
       </div>
    </div>
</div>      

