<!-- Educacion -->   
<div class="card mat-card" id="educacion">
    <div id="education">
       <div class="card-titles">
         <h1 style="margin-left: 20px;">Educación</h1>
       </div>
       <div id="list-education">
         <ul class="items-list">
          <li>
            <div class="btn-edit" id="educacion">
              <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
             </div>
            <img src="assets/img/UTN.png" />
            <h2>Universidad Tecnologica Nacional</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
          </li>
          <li>
            <div class="btn-edit" id="educacion">
              <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
             </div>
            <img src="assets/img/UTN.png" />
            <h2>Universidad Tecnologica Nacional</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
          </li>
          <li>
            <div class="btn-edit" id="educacion">
              <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
             </div>
            <img src="assets/img/UTN.png" />
            <h2>Universidad Tecnologica Nacional</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
          </li>
        </ul>
       </div>
    </div>
</div>      

