<div class="card mat-card" id="encabezado">
    <!-- barra nav -->
    <header class="header">
      <nav class="nav">
        <a style="color: white ;"><img src="assets/img/APLogo.png" style="height:70px;" class="rounded-pill">
         #YO PROGRAMO   
        </a>
        <button class="nav-toggle" aria-label="">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-item nav-link" routerLink="/login" *ngIf="!authService.logIn">Login</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-item nav-link" (click)="logout()" routerLink="/portfolio" *ngIf="authService.logIn">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- imagen background-->
      <div id="profile-background"><img *ngIf="miPortfolio" [src]="miPortfolio.backImage"/>
      <div class="btn-edit" id="background-img">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
      </div>
      </div>
  </div>
