<div class="card mat-card" id="encabezado">
    <!-- barra nav -->
    <header class="header">
      <nav class="nav">
        <a style="color: white ;"><img src="assets/img/APLogo.png" style="height:70px;" class="rounded-pill">
         #YO PROGRAMO   
        </a>
        <button class="nav-toggle" aria-label="">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-menu-item">
            <!--
            <a class="nav-item nav-link" (click)="openModalLogin()" *ngIf="!authService.logIn">Login</a>  
            -->
          <button mat-raised-button class="btn custom-btn" type="submit" *ngIf="!authService.isLoggedIn" (click)="openModalLogin()"> 
              <mat-icon>input</mat-icon> Login
          </button>
          </li>
          <li class="nav-menu-item">
            <!--
            <a class="nav-item nav-link" (click)="logout()" routerLink="/portfolio" *ngIf="authService.isLoggedIn">Logout</a>
            -->
            <button mat-raised-button class="btn custom-btn" type="submit" *ngIf="authService.isLoggedIn" routerLink="/portfolio" (click)="logout()"> 
              <mat-icon>output</mat-icon> Logout
          </button>
          </li>
        </ul>
      </nav>
    </header>
    <!-- imagen background-->
      <div id="profile-background" [ngStyle]="styles">
        <!--imagen de fondo
        <img *ngIf="miPortfolio" src="{{miPortfolio.image_background}}"/>
        -->
        <button type="button" class="btn btn-info btn-circle" id="background-img" *ngIf="authService.isLoggedIn" (click)="openModalImgFondo()"> <i class="fa fa-pen"></i>
        </button>
        <div id=letras-show  data-aos="zoom-in" data-aos-duration="2000">
          <p class="typing-animation">ARGENTINA PROGRAMA</p>
        </div>
      </div>
  </div>
  <script>
    const sleep = (ms) => {
      return new Promise((resolve) => setTimeout(resolve, ms));
    };
    
    // This is an array of html elements, since getElementsByClassName returns an array, since there can be more than one html element with that class.
    const elements = document.getElementsByClassName("typing-animation");
    
    (async (typedElements) => {
       let texts = []
       
       for (let element of typedElements){
        // The property to access the text inside the elements .innerHTML, if its a user interactuable element such as <input> or <textarea> then its .value
        texts.push(element.innerHTML);
        element.innerHTML = "";
       }
       
       // texts and typedElements has the same length.
       for (let i = 0; i < texts.length; i++) {
          for (let character of texts[i]) {
            typedElements[i].innerHTML += character;
            await sleep(200)
          } 
       }
      
    })(elements);
    </script>
