<div class="card mat-card" id="encabezado">
    <!-- barra nav -->
    <header class="header">
      <nav class="nav">
        <a style="color: white ;"><img src="assets/img/APLogo.png" style="height:70px;" class="rounded-pill">
         #YO PROGRAMO   
        </a>
        <button class="nav-toggle" aria-label="">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-menu-item">
            <!--
            <a class="nav-item nav-link" (click)="openModalLogin()" *ngIf="!authService.logIn">Login</a>  
            -->
          <button mat-raised-button class="btn custom-btn" type="submit" *ngIf="!authService.isLoggedIn" (click)="openModalLogin()"> 
              <mat-icon>input</mat-icon> Login
          </button>
          </li>
          <li class="nav-menu-item">
            <!--
            <a class="nav-item nav-link" (click)="logout()" routerLink="/portfolio" *ngIf="authService.isLoggedIn">Logout</a>
            -->
            <button mat-raised-button class="btn custom-btn" type="submit" *ngIf="authService.isLoggedIn" (click)="logout()"> 
              <mat-icon>output</mat-icon> Logout
          </button>
          </li>
        </ul>
      </nav>
    </header>
    <!-- imagen background-->
      <div id="profile-background"><img *ngIf="miPortfolio" src="{{miPortfolio.image_background}}"/>
        <button type="button" class="btn btn-info btn-circle" id="background-img" *ngIf="authService.isLoggedIn" (click)="openModalImgFondo()"> <i class="fa fa-pen"></i>
        </button>
      </div>
  </div>
