
.modal-header {
    color: #fffbfc;
    background-color:#222328;
    border-color: #222328;
    border-radius: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
  }
  .modal-body {
    color: #FFFFFF;
    background-color:#222328;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .modal-footer {
    color: #54c4f8;
    background-color:#222328;
    border-color: #222328;
    border-radius: 0px;
    justify-content: center;
  }
  .close{
    background-color: #222328;
    border-color: #222328;
    color: #fffbfc;
    font-size: 25px;
    border:0px solid #fff;
    outline:none;
    padding-bottom: 20px;
  }
  .btn{
    padding: 3% !important;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 18px;
  }
  .custom-btn{
    font-size: 18px;
    margin-bottom: 15px;
    background-color: #54c4f8;
    color: #fff;
    
  }
  .custom-btn:hover{
    background-color: #FFFFFF;
    color: #343A40;
  }
  .btn-secondary{
    background-color:#222C26;
    border-color: #222C26;
  }
  .select-img{
    position: relative;
  }
  input.file {
    display: block;
    color: #54c4f8;
    background-color: #343A40;
    border-color: #343A40;
    text-align: center;
    margin: auto;
  }
  
  #img-uploaded{
    text-align: center;
    padding-bottom: 15px;
  }
  