<div class="modal-header">
    <h2 class="modal-title"><i class="fa fa-image" aria-hidden="true"></i>  {{ fromParentTitle }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

    <div class="modal-body"> 

      <div id="img-uploaded" *ngIf=selectImage>
        <img [src]="selectImage" width="400" height="200">
      </div>

      <div id="img-uploaded" *ngIf=ImgBackPortfolio&&!selectImage>
        <img [src]="ImgBackPortfolio" width="400" height="200">
      </div>

      <div id="img-uploaded" *ngIf=selectImage>
        <progress *ngIf=!dbImageDuplicada [value]=progress.loaded  [max]=progress.total >
        </progress>
        </div>
     
      <div>
        <output *ngIf=successResponse class="success">{{successResponse}}</output>
        <output *ngIf=dbImageDuplicada class="success">La imagen {{uploadedImage.name}} ya existe, puede continuar..</output>
      </div>

      <div class="select-img" *ngIf=!selectImage>
        <div style="padding-bottom: 10px;">
            La imagen de perfil debe ser .PNG de 800px de ancho y 400px de alto minimo
        </div>
          <label for="img" class="btn custom-btn">Seleccionar Imagen</label>  
          <input type="file" id="img" style="display:none" (change)="onImageUpload($event)">
      </div> 

    </div>
 
    <div class="modal-footer" >
      <input type="button" *ngIf=selectImage&&!successResponse&&!dbImageDuplicada (click)="imageUploadAction()" value="Subir Imagen" class="btn custom-btn" style="
        margin-top: 20px; margin-bottom: 20px;"> 
      <input type="button" *ngIf=successResponse||dbImageDuplicada (click)="cambiarImagen()" value="Cambiar Imagen" class="btn custom-btn" style="
      margin-top: 20px; margin-bottom: 20px;"> 
    </div>





