
    <app-encabezado></app-encabezado>
<!--Acerca de-->
    <div class="card mat-card" id="acerca">
      <div id="info">
        <!-- imagen profile -->
         <div id="info-img">
           <img class="profile-image" src="assets/img/profile.png">
           <div id="separador"> </div>
           <h2>Adrian Fucking Moreno</h2>
           <div id="info-titulo">Full Stack Developer Jr</div>
         </div>
         
           <div id="acerca">
            <h1 style="margin-left: 0px;">Acerca de</h1>
            <div>
              Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.
            </div>
           </div>        
      </div>
    </div>
<!-- Experiencia -->
    <div class="card mat-card">
        <div id="experiencie">
           <div class="card-titles">
             <h1 style="margin-left: 20px;">Experiencia</h1>
           </div>
           <div>
             <ul class="items-list">
              <li>
                <img src="assets/img/armada.png" />
                <h2>Armada Argentina</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
              </li>
              <li>
                <img src="assets/img/armada.png" />
                <h2>Armada Argentina</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
              </li>
              <li>
                <img src="assets/img/armada.png" />
                <h2>Armada Argentina</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
              </li>
            </ul>
           </div>
        </div>
    </div>      
 <!-- Educacion -->   
    <div class="card mat-card">
      <div id="education">
         <div class="card-titles">
           <h1 style="margin-left: 20px;">Educación</h1>
         </div>
         <div id="list-education">
           <ul class="items-list">
            <li>
              <img src="assets/img/UTN.png" />
              <h2>Universidad Tecnologica Nacional</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
            </li>
            <li>
              <img src="assets/img/UTN.png" />
              <h2>Universidad Tecnologica Nacional</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
            </li>
            <li>
              <img src="assets/img/UTN.png" />
              <h2>Universidad Tecnologica Nacional</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
            </li>
          </ul>
         </div>
      </div>
  </div>      
<!-- Habilidades -->
  <div class="card mat-card">
    <div class="card-titles">
      <h1 style="margin-left: 20px;">Habilidades</h1>
    </div>
    <!-- Fondo azul skills -->
    <div id="background-skills">
      <!-- Contenedor habilidades programacion -->
      <div class="cont-skill">
        <h2>Programación</h2>
              <div class="skill-box">
                <span class="title">HTML</span>
                <div class="skill-bar">
                    <span class="skill-per html">
                        <span class="tooltipo">90%</span>
                    </span>
                </div>
              </div>

              <div class="skill-box">
                <span class="title">CSS</span>
                <div class="skill-bar">
                    <span class="skill-per css">
                        <span class="tooltipo">70%</span>
                    </span>
                </div>
              </div>
              
              <div class="skill-box">
                <span class="title">JavaScript</span>
                <div class="skill-bar">
                    <span class="skill-per javascript">
                        <span class="tooltipo">50%</span>
                    </span>
                </div>
              </div>

              <div class="skill-box">
                <span class="title">NodeJS</span>
                <div class="skill-bar">
                    <span class="skill-per nodejs">
                        <span class="tooltipo">30%</span>
                    </span>
                </div>
              </div>
        </div>
        <!-- Contenedor habilidades idiomas -->
        <div class="cont-skill">
          <h2>Idiomas</h2>
                <div class="skill-box">
                  <span class="title">Inglés</span>
                  <div class="skill-bar">
                      <span class="skill-per ingles">
                          <span class="tooltipo">48%</span>
                      </span>
                  </div>
                </div>
          </div>        
        
      </div><!-- fin background azul-->
    </div>
<!-- Proyectos-->
    <div class="card mat-card">
         <div class="card-titles">
           <h1 style="margin-left: 20px;">Proyectos</h1>
         </div>
         <div id="list-projets">
           <ul class="items-list-projet">
            <li>              
              <h2>Portfolio Web</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
              <a href="https://argentinaprograma.inti.gob.ar/">
                <img alt="Portfolio Web" src="assets/img/AP.png">
             </a>
            </li>
            <li>              
              <h2>Portfolio Web</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
              <a href="https://argentinaprograma.inti.gob.ar/">
                <img alt="Portfolio Web" src="assets/img/AP.png">
             </a>
            </li>          
            <li>              
              <h2>Portfolio Web</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient facilisi vitae convallis, quis nostra vulputate vestibulum maecenas lacus blandit torquent lobortis leo. Ullamcorper dignissim mus class curabitur faucibus ligula rutrum purus, lectus tincidunt fermentum suspendisse nisl mauris primis porttitor, ut nascetur ultrices magna etiam mattis taciti.</p>
              <a href="https://argentinaprograma.inti.gob.ar/">
                <img alt="Portfolio Web" src="assets/img/AP.png">
             </a>
            </li>
          </ul>
         </div>
  </div>    

