.bg {
    width: 100%;
    background: url('https://yoprogramo-tnmorenoadrian.koyeb.app/get/image/background.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }