<div class="modal-header">
    <h2 class="modal-title">{{ fromParentTitle }}</h2>
</div>

    <div class="modal-body"> 

      <div id="img-uploaded" *ngIf=selectImage>
        <img [src]="selectImage">
      </div>
     
      <div>
        <output *ngIf=successResponse class="success">{{successResponse}}</output>
      </div>

      <div style="color:red" >
        <output *ngIf=errorMsg class="success">{{errorMsg}}</output>
      </div>

      <div class="select-img" *ngIf=!selectImage>
        <div style="padding-bottom: 10px;">
            La imagen de perfil debe ser .PNG de 200px de ancho y 200px de alto aproximado
        </div>
          <label for="img" class="btn custom-btn">Seleccionar imagen</label>  
          <input type="file" id="img" style="display:none" (change)="onImageUpload($event)">
      </div> 

    </div>
 
<div class="modal-footer" *ngIf=selectImage&&!successResponse&&!errorMsg>
  <input type="button" (click)="imageUploadAction()" value="Subir Imagen" class="btn custom-btn" style="
    margin-top: 20px; margin-bottom: 20px;"> 
</div>

<div class="modal-footer" *ngIf=successResponse>
    <input type="button" (click)="cambiarImagen()" value="Cambiar Imagen" class="btn custom-btn">
</div>

<div class="modal-footer" *ngIf=errorMsg>
    <input type="button" (click)="cerrar()" value="Cerrar" class="btn custom-btn">
</div>


