<div class="modal-header">
    <h2 class="modal-title">{{ fromParentTitle }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

<div class="modal-body" id="habilidades">
      
                  <div class="skill-box">
                      <mat-radio-group [(ngModel)]="selHabilidad"> 
                      <mat-radio-button value="programacion" style="padding-right: 20px;">Lenguaje de Programacion</mat-radio-button>
                      <mat-radio-button value="idioma" >Idioma</mat-radio-button>
                      </mat-radio-group>
                      <p></p>
                      <div *ngIf="selHabilidad=='idioma'" class="form-floating" style="padding-bottom: 15px;">
                         <mat-form-field > 
                         <input matInput placeholder="Idioma" [(ngModel)]="fromParentHabilidad.idioma_habilidad"/>
                         </mat-form-field>
                      </div>
                      <div *ngIf="selHabilidad=='programacion'" class="form-floating" style="padding-bottom: 15px;">
                        <mat-form-field class="formcontrol"> 
                        <input matInput placeholder="Lenguaje de programacion" [(ngModel)]="fromParentHabilidad.programacion_habilidad"/>
                        </mat-form-field>
                      </div>
                      <div class="form-floating">
                        <mat-form-field class="formcontrol"> 
                          <input matInput placeholder="Nivel" [(ngModel)]="fromParentHabilidad.nivel_habilidad"/>
                          </mat-form-field>
                      </div>
                  </div>                           
      
   </div> 

    <div class="modal-footer">
        <button type="button" type="submit" class="btn custom-btn" (click)="agregar()">Guardar Cambios</button>
    </div> 

