<div class="modal-header">
    <h2 class="modal-title">{{ fromParentTitle }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

<div class="modal-body" id="habilidades">
    
    <div id="background-skills">
      
      <div class="cont-skill">
        <h2>Programacion</h2>
        <ul class="items-list">
          <ng-container *ngFor="let habilidades of fromParentHabilidades; let i = index" >
          <li *ngIf="habilidades.programacion_habilidad">  
            <div class="skill-box">          
              <button type="button" class="btn btn-info btn-circle" id="habilidad-trash" (click)="borrarHabilidad(habilidades.id)" ><i class="fa fa-trash"></i>
              </button>
              <div class="form-floating" style="padding-bottom: 15px;">
                <input type="text" id="perfil" class="form-control" [(ngModel)]="habilidades.programacion_habilidad" (ngModelChange)="onChange(habilidades.id)"/>
              </div>          
            
                <mat-slider [(ngModel)]="habilidades.nivel_habilidad" thumbLabel (change)="onChange(habilidades.id)" min="1" max="100">
                  <input matSliderThumb>
                </mat-slider>

            </div>          
          </li>
          </ng-container>
        </ul>
      </div>
        
      <div class="cont-skill">
        <h2>Idiomas</h2>
        <ul class="items-list">
          <ng-container *ngFor="let habilidades of fromParentHabilidades; let i = index" >
          <li *ngIf="habilidades.idioma_habilidad">
            <div class="skill-box">
              <button type="button" class="btn btn-info btn-circle" id="habilidad-trash" (click)="borrarHabilidad(habilidades.id)" ><i class="fa fa-trash"></i>
              </button>
             <div class="form-floating" style="padding-bottom: 15px;">
              <input type="text" id="perfil" class="form-control" [(ngModel)]="habilidades.idioma_habilidad" (ngModelChange)="onChange(habilidades.id)"/>
            </div>
              <mat-slider [(ngModel)]="habilidades.nivel_habilidad" thumbLabel (change)="onChange(habilidades.id)" min="1" max="100">
                <input matSliderThumb>
              </mat-slider>
            </div>          
          </li>
         </ng-container>
        </ul>
      </div>        
        
      </div>
</div> 
<div class="modal-footer">
  
</div>
