.modal-header {
  color: #64D8F3;
  background-color:#19231D;
  border-color: #19231D;
  border-radius: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
}
.modal-body {
  color: #64D8F3;
  background-color:#19231D;
}
.modal-footer {
  color: #64D8F3;
  background-color:#19231D;
  border-color: #19231D;
  border-radius: 0px;
  justify-content: center;
}
.btn{
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 18px;
}
.custom-btn{
  margin-bottom: 15px;
  background: #64d8f3;
  color: #fff;
}
.custom-btn:hover{
  background-color: #F64EB0;
  color: #19231D
}
textarea#FormControlTextarea {
  color: #64D8F3;
  background-color: #19231D;
  border-color: #19231D;
}

