
.modal-header {
  color: #fffbfc;
  background-color:#222328;
  border-color: #222328;
  border-radius: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
}
.modal-body {
  color: #54c4f8;
  background-color:#222328;
}
.modal-footer {
  color: #54c4f8;
  background-color:#222328;
  border-color: #222328;
  border-radius: 0px;
  justify-content: center;
}
.close{
  background-color: #222328;
  border-color: #222328;
  color: #ffffd1;
  font-size: 25px;
  border:0px solid #fff;
  outline:none;
  padding-bottom: 20px;
}
.btn{
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 18px;
}
.custom-btn{
  font-size: 18px;
  margin-bottom: 15px;
  background: #54c4f8;
  color: #fff;
}
.custom-btn:hover{
  background-color: #FFFFFF;
  color: #19231D
}
textarea#FormControlTextarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #343A40;
  border-color: #343A40;
}

