.modal-header {
  color: #fffbfc;
  background-color:#182834;
  border-color: #182834;
  border-radius: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
}
.modal-body {
  color: #64D8F3;
  background-color:#182834;
}
.modal-footer {
  color: #64D8F3;
  background-color:#182834;
  border-color: #182834;
  border-radius: 0px;
  justify-content: center;
}
.close{
  background-color: #182834;
  border-color: #182834;
  color: #ffffd1;
  font-size: 25px;
  border:0px solid #fff;
  outline:none;
  padding-bottom: 20px;
}
.btn{
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 18px;
}
.custom-btn{
  margin-bottom: 15px;
  background: #64d8f3;
  color: #fff;
}
.custom-btn:hover{
  background-color: #cda51d;
  color: #19231D
}
textarea#FormControlTextarea {
  color: #cda51d;
  background-color: #21303C;
  border-color: #21303C;
}

