<div class="form-wraper">
    <div class="form-container card">
      <div class="form-header">
        <img src="../../../assets/img/car-key.svg"  class="main-lock-icon" alt="">
      </div>
  
      <div class="form-body">
        <mat-form-field class="justifier">
            <input matInput placeholder="Username" text="username" class="form-input" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="justifier">
            <input matInput placeholder="Password" text="password" class="form-input" [(ngModel)]="password">
        </mat-form-field>
        <p style="color: red; text-align: center;" *ngIf="error" class="error">
          {{ error }}
      </p>
      </div>
  
      <div class="form-footer">
          <button mat-raised-button class="btn custom-btn" type="submit" (click)="login()"> 
              <mat-icon>input</mat-icon> Login
          </button>
      </div>
  </div>
